<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

    <div id="all">

        <header>

            {{ partial "header.html" . }}

        </header>
        <div id="content">
            <div class="container">
		<h1>{{ .Title }}</h1>
		    {{ .Content }}
		   <div class="row">

                    <div class="col-md-12">

                        {{ partial "widgets/search.html" . }}

                        <div id="grid" class="row list flex-wrap h-99 text-center"></div>

                    </div>

                </div>

            </div>
        </div>

        {{ partial "footer.html" . }}

    </div>

    {{ partial "scripts.html" . }}

</body>

</html>
