{{ template "_internal/google_analytics.html" . }}

{{ $jquery := resources.Get "js/jquery-3.1.1.min.js" }}
{{ $bootstrap := resources.Get "js/bootstrap.min.js" }}
{{ $moment := resources.Get "js/moment.min.js" }}
{{ $fancybox := resources.Get "js/jquery.fancybox.min.js" }}
{{ $lunr := resources.Get "js/lunr.min.js" }}
{{ $lunrsearch := resources.Get "js/lunr-search.js" }}

{{ $js := slice $jquery $bootstrap $moment $fancybox $lunr $lunrsearch | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
